{:company/legal-name "SONATRACH"
 :company/legal-name-full "Société Nationale pour la Recherche, la Production, le Transport, la Transformation et la Commercialisation des Hydrocarbures"
 :company/lei "213800NI74QTT3F18469"
 :company/jurisdiction "DZ"
 :company/website "https://www.sonatrach.com"
 :company/isic-rev5 "0610"
 :company/contact-email "sonatrach@sonatrach.dz"
 :company/inquiry-form-url "https://sonatrach.com/en/contact-us/"}
